<div class= "container">
    <div class= "jumbotron">
        <h1>Bem vindo ao Blog do Hugo</h1>
        <p>Sistema Web desenvolvido por STW Online</p>
        <p>
            <a class="btn btn-info btn-lg" href="/articles">Matérias</a>
        </p>
    </div>
</div>

<!--<h1>Bem vindo ao Blog do Hugo</h1>
<%= link_to 'Meu Blog', controller: 'articles' %>-->